.container{
  margin-bottom: 300px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  /* background-color: #E1E8EB; */
  border: solid 3px #343A40;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #343A40;
  color: #d3d3d3;
  border: 3px solid #d3d3d3;
  padding-top: 2%;
}


.past {
  background-color: #DA0037;
  color: #E8F6EF;
  opacity: 0.4;
}

.present {
  background-color: #FCF876;
  color: #E8F6EF;
  opacity: 0.4;
}

.future {
  background-color: #77dd77;
  color: #E8F6EF;
  opacity: 0.4;
}

.saveBtn {
  border: 3px solid #d3d3d3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #343A40;
  color: #d3d3d3;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: 0.3s;
  background-color: #d3d3d3;
}
.footer{
  text-align: center;
  margin-bottom: 100px;
}